{% extends 'base.html.twig' %}

{% block title %}collecte d'information!{% endblock %}

{% block body %}

<body>
    <div id="loader">
        <div id="status"></div>
    </div>
  
	<!-- end site-header -->
	
    <div id="banner" class="banner full-screen-mode parallax">
        <div class="container pr">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="banner-static">
                    <div class="banner-text">
                        <div class="banner-cell">
                            <h1>Site de collecte d' <span class="typer" id="some-id" data-delay="200" data-delim=":" data-words="information:information:information" data-colors="red"></span><span class="cursor" data-cursorDisplay="_" data-owner="some-id"></span></h1>
                            <h2>Ville de Paris </h2>
                            <p>Augmentatiion de  la couverture des données mis à votre  disposition qui permet a aux 
                            données des anciennes solutions informatiques toujours actives d’être poussées vers les plateformes OpenData 
                            françaises
                            </p>

                            <a href="#about">
                                <div class="mouse"></div>
                            </a>
                        </div>
                        <!-- end banner-cell -->
                    </div>
                    <!-- end banner-text -->
                </div>
                <!-- end banner-static -->
            </div>
            <!-- end col -->
        </div>
        <!-- end container -->
    </div>
	<div id="reservation" class="reservations-main pad-top-100 pad-bottom-100">
        <div class="container">
            <div class="row">
                <div class="form-reservations-box">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                            <h2 class="block-title text-center">
						Télécharger votre fichier			
					</h2>
                        </div>
                       
                     

                        <form id="contact-form" method="post" class="" name="contactform" action="mail.php" style="margin-left:200px; margin-top:50px;">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-box">
                                    <input type="file" name="form_name" id="form_name" placeholder="Nom" required="required" data-error="Firstname is required.">
                                </div>
                            </div>
                           
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="reserve-book-btn text-center">
                                    <button class="hvr-underline-from-center" type="submit" value="SEND" id="submit">VALIDER </button>
                                </div>
                            </div>
                            <!-- end col -->
                        </form>
                        <!-- end form -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end reservations-box -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div


 
</body>
{% endblock %}
